/* body{
  background-image: var(--pinkGradient);
  
} */

.profDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  user-select: none;
  /* margin: 100px auto; */
  margin: 10px;
  background-color: var(--medPink);
  color: var(--darkPink);
  border-radius: 5px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  border: 3px solid var(--darkPink);
}
.cover-photo{
  background: url('../images/abstract.jpg');
  height: 190px;
  width: 100%;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
}
.profile{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 75px 0 0 -180px;
  border: .25px solid var(--darkPink);
  padding: 2px;
  background: var(--lightPink);
  /* object-fit: fill; */
}
.profile-name{
  font-size: 25px;
  font-weight: bold;
  margin: 27px 0 0 120px;
}
.about{
  margin-top: 35px;
  line-height: 21px;
}
button{
  margin: 10px 0 40px 0;
  background-color: var(--lightPink);
}
.msg-btn, .follow-btn{
  background-color: var(--lightPink);
  border: 1px solid var(--darkPink);
  padding: 10px 25px;
  color: var(--darkPink);
  border-radius: 3px;
  /* font-family: Montserrat, sans-serif; */
  cursor: pointer;
}
.follow-btn{
  margin-left: 10px;
  background-color: var(--lightPink);
  color: var(--darkPink);
}
.follow-btn:hover{
  color: var(--darkPink);
  background-color: var(--lightPink);
  transition: .5s;
}
.container i{
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .5s;
}
.container i:hover{
  background-color: var(--lightPink);
}


.profileHead{
  text-align: center;
}


/* ABOUT ME */
.aboutMe{
  background-color: var(--medPink);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  border-style: solid;
}

.aboutPara{
  padding: 5px;
  font-size: 12px;
}

/* ADMIN DIV */
.adminDiv{
  background-color: var(--medPink);
  margin: 50px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  border-style: solid;
  text-align: center;
}

.adminEditBtn{
  background-color: var(--lightPink);
  border: 1px solid var(--darkPink);
  padding: 10px 25px;
  color: var(--darkPink);
  border-radius: 3px;
  /* font-family: Montserrat, sans-serif; */
  cursor: pointer;
  margin: 5px;
}

.adminEditBtn > Link{
  text-decoration: none;
}

/* PROFILE BUTTONS DIV */

.btnDiv{
  background-color: var(--medPink);
  margin: 50px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  border-style: solid;
  text-align: center;
}

.createPostBtn{
  background-color: var(--lightPink);
  border: 1px solid var(--darkPink);
  padding: 10px 25px;
  color: var(--darkPink);
  border-radius: 3px;
  /* font-family: Montserrat, sans-serif; */
  cursor: pointer;
  margin: 5px;
  width: 150px
}

.noDiv{
  display: none;
}