@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root{
  --mainFont: 'Pangolin', cursive;
  --darkPink: #53000E;
  --lightPink: #FCE4EC;
  --medPink: #F8BBD0;
  --pinkGradient: linear-gradient(to bottom, #F8BBD0, 
  #F9C3D6,
  #FACCDC, 
  #FBD4E2,
  #FBDDE8,
  #FCE5ED)
}

.gradient {
  background-image:
    linear-gradient(
      to right, 
      #ff6698, 
      #ffb366,
      #ffff66, 
      #98ff66,
      #6698ff,
      #A95AEC
    );
}

.pinkGradient {
  background-image:
    linear-gradient(
      to bottom, 
      #F8BBD0, 
      #F9C3D6,
      #FACCDC, 
      #FBD4E2,
      #FBDDE8,
      #FCE5ED
    );
}

body{
  font-family: var(--mainFont);
  background-image: var(--pinkGradient);
  
}

